body {
    background-color: #121212;
    color: #f1f1f1;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .sidebar {
    width: 250px;
    min-height: 100vh;
    background-color: #1f1f1f;
  }

  .sidebar a {
    display: block;
    padding: 10px 15px;
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
  }

  .sidebar a:hover {
    background-color: #333;
    color: #fff;
  }

  .content {
    padding: 30px;
  }

  #search {
    background-color: #121212;
    border-color: #fff;
    color: #fff;
  }

  #search::placeholder {
    color: #dddcdc;
  }

  #buscar {
    width: 75px;
    margin-right: 8px;
  }

  #novo {
    width: 75px;
  }

  .page-link {
    color: #ffffff; /* texto branco */
    background-color: #212529; /* fundo escuro */
    border: 1px solid #343a40;
  }

  .page-link:hover {
    background-color: #343a40;
    border-color: #0d6efd;
    color: #0d6efd;
  }
